{% set title='Live Drone Detector' %}
{% include 'inc/header.html' %}

<main>
  <form action="/upload_image" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="image">Upload Image</label>
      <input type="file" name="image" accept="image/*" class="form-control-file" id="imageInput">
    </div>
    <!-- Image Preview -->
    <div class="text-center">
      <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 100%; max-height: 200px; display: none;">
    </div>
    <button type="submit" class="btn btn-primary">Upload Image</button>
  </form>
</main>


{% include 'inc/footer.html' %}