{% set title='Drone Video Detector' %}
{% include 'inc/header.html' %}

<main>
  {% if video_filename %}
  <div class="results">
    Results
  </div>
  <div class="result-window">
    <video controls class="annotated-image" style="max-width: 100%; max-height: 250px;">
      <source src="{{ url_for('serve_file', filename=video_filename) }}" type="video/mp4">
    </video>
  </div>
  {% endif %}

  <form action="/upload_video" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="video">Select Video</label>
      <input type="file" name="video" accept="video/*" class="form-control-file" id="videoInput">
    </div>
    <button type="submit" class="submit">Detect</button>
    <!-- Video Preview -->
    <div class="preview-window">
      <video id="videoPreview" controls style="max-width: 100%; max-height: 250px; display: none;"></video>
    </div>
  </form>
</main>

<script>
  // Display video preview when a file is selected
  document.getElementById('videoInput').addEventListener('change', function () {
    var videoPreview = document.getElementById('videoPreview');
    videoPreview.style.display = 'block';
    videoPreview.src = URL.createObjectURL(this.files[0]);
  });
</script>

{% include 'inc/footer.html' %}